@using Red_Social.Core.Application.ViewModels.Comments
@using Red_Social.Core.Application.ViewModels.Post;
@model SavePostViewModel
@{
    ViewData["Title"] = "Amigos";
    List<PostViewModel> postViews = ViewBag.friendpost;
}

<div class="container">

    @if (postViews == null || postViews.Count() == 0)
    {
        <h2>No hay publicaciones</h2>
    }else{

    @foreach (PostViewModel item in postViews)
    {
        <div class=" d-flex justify-content-center">

            <div class="card w-50 mb-3">

                <div class="card-body">
                    <h5 class="card-title">@item.User.Name</h5>
                    <div>
                        <p class="card-text">@item.Text</p>
                    </div>
                </div>
                <img class="bd-placeholder-img " src="@item.ImgUrl" />
                @if (@item.Comments != null)
                {
                    @foreach (CommentsViewModel j in @item.Comments)
                    {
                        <p class="card-text"> @j.Text </p>
                    }
                }
                <form method="post" asp-controller="Home" asp-action="AddComment">

                    <div class="w-50">
                        <input asp-for="Idpost" value="@item.Id" hidden />
                        <input asp-for="NuevoComentario" class="form-control" required placeholder="Agregar un comentario..." />
                        <button type="submit" class="btn btn-primary btn-sm">Comentar</button>
                    </div>

                </form>
            </div>

        </div>
    }}

</div>